In [3]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [4]:

# MySQL connect
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="pricass00"
)

cursor = mydb.cursor()

In [5]:

# Create new database if it doesn't exist
cursor.execute("CREATE DATABASE IF NOT EXISTS customer_db")
print("✅ Database created successfully!")

✅ Database created successfully!

In [6]:

# SQLAlchemy engine for the new database
username = "root"
password = "pricass00"
host = "localhost"
database = "customer_db"
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{database}")

In [7]:

# Path to your CSV file
csv_file_path = r"C:\Users\offic\Downloads\onedrive pl\OneDrive\Desktop\PRIDATAX\TELCO_CHURN_ANALYSIS\CHURN_PROJECT\clean_churn.csv"

# Read CSV file into DataFrame
df = pd.read_csv(csv_file_path)

# Display first few rows
print(df.head())

   Unnamed: 0  customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0           0  7590-VHVEG  Female              0     Yes         No       1
1           1  5575-GNVDE    Male              0      No         No      34
2           2  3668-QPYBK    Male              0      No         No       2
3           3  7795-CFOCW    Male              0      No         No      45
4           4  9237-HQITU  Female              0      No         No       2

  PhoneService     MultipleLines InternetService  ... TechSupport StreamingTV  \
0           No  No phone service             DSL  ...          No          No
1          Yes                No             DSL  ...          No          No
2          Yes                No             DSL  ...          No          No
3           No  No phone service             DSL  ...         Yes          No
4          Yes                No     Fiber optic  ...          No          No

  StreamingMovies        Contract PaperlessBilling              PaymentMethod  \
0              No  Month-to-month              Yes           Electronic check
1              No        One year               No               Mailed check
2              No  Month-to-month              Yes               Mailed check
3              No        One year               No  Bank transfer (automatic)
4              No  Month-to-month              Yes           Electronic check

  MonthlyCharges TotalCharges Churn  Churn_flag
0          29.85        29.85    No           0
1          56.95      1889.50    No           0
2          53.85       108.15   Yes           1
3          42.30      1840.75    No           0
4          70.70       151.65   Yes           1

[5 rows x 23 columns]

In [ ]:
table_name = "churn_data"  
df.to_sql(table_name, con=engine, if_exists="replace", index=False)

7043

In [9]:
cursor.execute("USE customer_db")
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print("Tables in DB:", tables)

Tables in DB: [('churn_data',)]

In [ ]:

database_name = "churn_db"

# Drop database
cursor.execute(f"DROP DATABASE IF EXISTS {database_name}")
print(f"✅ Database '{database_name}' has been removed successfully!")

✅ Database 'churn_db' has been removed successfully!